<!--功能條-->
<!--
<section>
    <div class="container">
        <div class="row">
            <ul class="list-inline list-unstyled">
                <li><a href="#product">商品內容</a></li>
                <li><a href="#trial">保費試算</a></li>
                <li><a href="#rule">投保規則</a></li>
                <li><a href="#question">相關問題</a></li>
                <li><a href="#notice">注意事項</a></li>
            </ul>
        </div>
</section>
-->

<!--商品內容-->
<section id="product" style="background:#DDDDDD">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>XX人壽網路投保</h1>
                <h1>即期年金</h1>
                <p>商品名稱：智能合約網路投保</p>
                <p>商品文號：12345678</p>
                <p>服務專線：02-2222-2222</p>
            </div>
            <ul class="list-inline list-unstyled">
                <li><a href="agreement" role="button" class="btn btn-success btn-lg">立即購買</a></li>
                <li><a href="" role="button" class="btn btn-info btn-lg">保費試算</a></li>
            </ul>
        </div>
    </div>
</section>

<!--保費試算-->
<section id="trial">
    <div class="container">
        <h2>保費試算</h2>
        <p>宣告利率：XX%</p>
        <a href="#" role="button" class="btn btn-info btn-lg">保費試算</a>
        <hr>
    </div>
</section>

<!--投保規則-->
<section id=rule>
    <div class="container">
        <h2>投保規則</h2>
        <dl class="dl-horizontal">
            <dt>適用條件</dt>
            <dd>本國人</dd>

            <dt>投保年齡</dt>
            <dd>20足歲~80歲</dd>

            <dt>投保保費</dt>
            <dd>最低1萬 最高10萬 累計不超過1000萬</dd>

            <dt>繳別</dt>
            <dd>躉繳(一次繳)</dd>

            <dt>保險年期</dt>
            <dd>終身</dd>

            <dt>金累積期間</dt>
            <dd>至少6年</dd>
        </dl>
        <hr>
    </div>
</section>

<!--相關問題-->
<section id="question">
    <div class="container">
        <h2>相關問題</h2>
        <h3>Q.名詞定義</h3>

        <h3>Q.宣告利率</h3>
        <p>2.5%</p>

        <h3>Q.年金給付開始日</h3>

        <h3>Q.年金給付方式</h3>
        <p>一次給付：</p>
        <hr>
    </div>
</section>

<!--注意事項-->
<section id="notice">
    <div class="container">        
        <h2>注意事項</h2>
        <ul>
            <li>商品名稱：</li>
            <li>商品文號：</li>
            <li>給付項目：</li>
            <li>年金開始給付年齡：</li>
            <li>年金金額限制：</li>
        </ul>
    </div>
</section>