{{#section 'css'}}
<link rel="stylesheet" href="css/index.css"> {{/section}}

<!--商品內容-->
<section id="product">
    <div class="container">
        <h1>正大人壽網路投保</h1>
        <hr align="left">
        <h2>即期年金</h2>
        <p>商品名稱：即期年金網路投保</p>
        <p>商品文號：12345678</p>
        <p>服務專線：02-2222-2222</p>
        <ul class="list-inline list-unstyled">
            <li><a href="agreement" role="button" class="btn btn-success btn-lg">立即購買</a></li>
            <li><button class="btn btn-info btn-lg trial">保費試算</button></li>
        </ul>
    </div>
</section>

<!--投保規則-->
<section id="rule">
    <div class="container">
        <h3>投保規則</h3>
        <dl class="dl-horizontal content">
            <dt>適用條件</dt>
            <dd>本國人且為本公司會員</dd>

            <dt>投保年齡</dt>
            <dd>自20足歲起至75歲為止</dd>

            <dt>要/被保人</dt>
            <dd>要保人與被保險人限同一人</dd>

            <dt>身故受益人</dt>
            <dd>限直系血親、配偶或法定繼承人</dd>

            <dt>繳費方式</dt>
            <dd>以太幣(透過以太坊智能合約)</dd>

            <dt>繳別</dt>
            <dd>躉繳(一次繳)</dd>

            <dt>年金給付開始日</dt>
            <dd>保單一週年日</dd>

            <dt>保險年期</dt>
            <dd>終身</dd>

            <!--<dt>金累積期間</dt>
            <dd>限制6~66年</dd>-->
        </dl>
        <hr>
    </div>
</section>

<!--保費試算
<section id="trial" class="content">
    <div class="container">
        <h2>保費試算</h2>
        <div id="trial-1">
            請輸入您的年紀:
        </div>
        <div id="trial-2">

        </div>
        <div id="trial-3">

        </div>
        <hr>
    </div>
</section>
-->

<!--相關問題-->
<section id="question">
    <div class="container">
        <h3>相關問題</h3>
        <dl class="dl-horizontal content">
            <!--<dt>名詞定義</dt>
                    <dd></dd>

                    <dt>宣告利率</dt>
                    <dd>2.5%</dd>-->

            <dt>年金給付開始日</dt>
            <dd>1年後</dd>

            <dt>年金給付方式</dt>
            <dd>分期給付</dd>
        </dl>
        <hr>
    </div>
</section>

<!--注意事項-->
<section id="notice">
    <div class="container">
        <h3>注意事項</h3>
        <dl class="dl-horizontal content">
            <dt>商品名稱</dt>
            <dd>即期年金網路投保</dd>

            <dt>商品文號</dt>
            <dd>12345678</dd>
            <!--<li>給付項目：</li>
                <li>年金開始給付年齡：</li>
                <li>年金金額限制：</li>-->
            </ul>
            <hr>
    </div>
</section>

<!--按鈕-->
<section id="button">
    <div class="container">
        <ul class="list-inline list-unstyled">
            <li><a href="agreement" role="button" class="btn btn-success btn-lg">立即購買</a></li>
            <li><button class="btn btn-info btn-lg trial">保費試算</button></li>
        </ul>
    </div>
    </div>
</section>

<!--測算block-->
<section class="overlay">
    <div class="overobj">
        <div class="panel panel-success" style="color:black;">
            <div class="panel-heading" style="text-align:center;">
                保費測算
                <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()">&times;</a>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="col-sm-3 control-label">年齡：</label>
                        <select class="20-75"></select>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <label class="col-sm-3 control-label">是否保證：</label>
                        <select id="isGuarantee">
                            <option value="y">是</option>
                            <option value="n">否</option>
                        </select>
                    </div>
                    <div style="text-align: center;">
                        <button class="btn btn-primary" id="getResult">查詢</button>
                    </div>
                    <div id="result" style="text-align: center;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{{#section 'script'}}
<script src="js/index.js"></script>
<script src="data/trialdata.js"></script>
{{/section}}