<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>付款</h1>
            </div>
        </div>
    </div>
</section>

<section id="payment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 id="account">你的帳戶:{{{account}}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4 for="contracts">選擇合約:</h4>
                <select class="form-control" id="contracts" style="width:50vh">
                    <option></option>
                </select>
                <br>
                <h4 for="money">金額(以太幣):</h4>
                <input type="text" class="form-control" id="money" readonly="readonly">
                <br>
                <h4 for="keyfile">input your keyfile</h4>
                <input type="file" class="form-control" id="keyfile">
                <br>
                <h4 for="pwd">input your password</h4>
                <input type="password" class="form-control" id="pwd">
                <br>
            </div>
        </div>
        <button class="btn btn-primary" id="payeth">確認</button>
    </div>
</section>

{{#section 'script'}}
<script src="js/dist/web3.min.js"></script>
<script src="js/pay.js"></script>
<script src="js/data.js"></script>
{{/section}}