{{#section 'css'}}
<link rel="stylesheet" href="/css/sign_in.css"> {{/section}}

<section>
    <div class="container">
        <div class="row">
            <h2 class="text-center">註冊帳號</h2>
            <div class="col-md-8 col-md-offset-2">

                <form id="sign_in-form" class="form-horizontal" action="sign_in" method="post">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="contact-name">帳號</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="contact-ID" name="ID" placeholder="帳號">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="contact-password">密碼</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="password" id="contact-password" name="password" placeholder="包含至少一個數字字元(0-9)">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div id="test" class="btn btn-success btn-lg" style="margin-right:3rem">登錄</div>
                            <button class="btn btn-success btn-lg" type="reset">忘記密碼</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

{{#section 'script'}}
<script src="/js/sign_in.js"></script>
{{/section}}