{{#section 'css'}}
<link rel="stylesheet" href="css/test.css">
<link rel="stylesheet" href="css/MyDate.css"> {{/section}}

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>智能合約模擬</h1>
                <hr>
                <input type="checkbox" id="email">電子郵件</input>
                <input type="checkbox" id="letter">簡訊</input>
                <ul class="list-unstyled" id="radio_group">
                    {{{radio}}}
                </ul>
            </div>
            <div class="col-md-4" style="font-size: 2rem;">
                <div style="display: inline-block;">保險公司方以太坊帳戶餘額：</div>
                <div style="display: inline-block;" id="money_company"></div>
            </div>
            <div class="col-md-4" style="font-size: 2rem;">
                <div style="display: inline-block;">您的以太坊帳戶餘額：</div>
                <div style="display: inline-block;" id="money_your"></div>
            </div>
            <div class="col-md-4" style="font-size: 2rem;">
                <div style="display: inline-block;">身故受益人以太坊帳戶餘額：</div>
                <div style="display: inline-block;" id="money_dead"></div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</section>

<section id="event_button">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="jcountTimer" id="myDate1">
                    <p></p>
                    <span class="year"><div></div><small>year</small></span>
                    <span class="month"><div></div><small>month</small></span>
                    <span class="day"><div></div><small>day</small></span>
                </h3>
            </div>
            <div class="col-md-4">
                <div class="btn-group.btn-group-justified" role="group" style="margin-bottom: 5px;">
                    <button class="btn btn-success btn-lg" id="next_day">下一天</button>
                    <button class="btn btn-success btn-lg" id="next_month">下一月</button>
                    <button class="btn btn-success btn-lg" id="next_year">下一年</button>
                </div>
                <div class="btn-group.btn-group-justified" role="group" style="margin-bottom: 5px;">
                    <button class="btn btn-success btn-lg" id="update">更新</button>
                    <button class="btn btn-success btn-lg" id="revoke">撤銷合約</button>
                    <button class="btn btn-success btn-lg" id="dead">被保人往生</button>
                </div>
                <div class="btn-group.btn-group-justified" role="group">
                    <!--
                    <button class="btn btn-success btn-lg" id="success">人臉辨識成功</button>
                    <button class="btn btn-success btn-lg" id="failure">人臉辨識失敗</button>
                    -->
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="jcountTimer" id="myDate2">
                    <p></p>
                    <span class="year"><div></div><small>year</small></span>
                    <span class="month"><div></div><small>month</small></span>
                    <span class="day"><div></div><small>day</small></span>
                </h3>
            </div>

            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</section>

<section id="money">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

<section id="out">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default" id="state_panel">
                    <div class="panel-heading" id="state_heading">合約狀態</div>
                    <div class="panel-body" id="state_body">
                        <dl class="dl-horizontal">

                            <dt style="color:purple">合約狀態：</dt>
                            <dd id="state"></dd>

                            <dt style="color:purple">保險公司：</dt>
                            <dd id="companyAddress"></dd>

                            <dt style="color:purple">被保人：</dt>
                            <dd id="insurerAddress"></dd>

                            <dt style="color:darkgoldenrod;">保費(以太幣)：</dt>
                            <dd id="payment"></dd>

                            <dt style="color:darkblue">保費給付次數：</dt>
                            <dd id="payTime"></dd>

                            <dt style="color:darkblue">給付間格：</dt>
                            <dd id="timeInterval"></dd>

                            <dt style="color:darkblue">保證期間：</dt>
                            <dd id="guaranteePeriod"></dd>

                            <dt style="color:red;">受益人：</dt>
                            <dd id="beneficiarie"></dd>

                            <dt style="color:red;">死亡受益人：</dt>
                            <dd id="deathBeneficiary"></dd>

                            <dt style="color:green;">合約部署時間：</dt>
                            <dd id="deployTime"></dd>

                            <dt style="color:green;">目前合約日期：</dt>
                            <dd id="nowTime"></dd>

                            <dt style="color:green;">契約撤銷期限：</dt>
                            <dd id="revocationPeriod"></dd>

                            <dt style="color:green;">下次年金給付日：</dt>
                            <dd id="paymentDate"></dd>

                        </dl>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default" id="event_panel">
                    <div class="panel-heading" id="event_heading">合約狀態異動紀錄</div>
                    <div class="panel-body" id="event_body">請先選擇合約</div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#section 'script'}}
<script src="js/web3.min.js"></script>
<script src="js/data.js"></script>
<script src="js/MyDate.js"></script>
<script src="js/test.js"></script>
{{/section}}