{{#section 'css'}}
<link rel="stylesheet" href="css/test.css"> {{/section}}

<section id="main">
    <div class="container">
        <div class="row">
            <h1>智能合約模擬</h1>
            <hr>
            <ul class="list-inline list-unstyled">
                <li><input name="smart" type="radio" value="s1">智能合約1</li>
                <li><input name="smart" type="radio" value="s2">智能合約2</li>
                <li><input name="smart" type="radio" value="s3">智能合約3</li>
            </ul>
            <div class="alert alert-info" role="alert">請先選擇合約</div>
            <hr>
        </div>
    </div>
</section>

<section id="event_button">
    <div class="container">
        <div class="row">
            <div class="btn-group.btn-group-justified" role="group">
                <button class="btn btn-success btn-lg" id="next_event">下一個事件</button>
                <button class="btn btn-success btn-lg" id="next_day">下一天</button>
                <button class="btn btn-success btn-lg" id="next_month">下一月</button>
                <button class="btn btn-success btn-lg" id="next_year">下一年</button>
            </div>
            <br>
            <div class="btn-group.btn-group-justified" role="group">
                <button class="btn btn-success btn-lg" id="set_date">指定日期</button>
                <button class="btn btn-success btn-lg" id="dead">被保人往生</button>
                <button class="btn btn-success btn-lg" id="confirme">確認合約</button>
                <button class="btn btn-success btn-lg" id="revoke">撤銷合約</button>
            </div>
            <hr>
        </div>
    </div>
</section>

<section id="out">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">合約狀態</div>
                    <div class="panel-body" id="contract_status">Panel Content</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">被保人事件</div>
                    <div class="panel-body" id="a">Panel Content</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">保險公司事件</div>
                    <div class="panel-body" id="b">Panel Content</div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#section 'script'}}
<script src="js/test_b.js"></script>
{{/section}}