{{#section 'css'}}
<link rel="stylesheet" href="/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="css/Timelinr.css">
<link rel="stylesheet" href="css/testv3.css" /> {{/section}}

<section>
    <div class="container">
        <div class="row">
            <div>
                <h1>智能合約模擬</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>帳戶餘額</h3>
                <div style="font-size: 2rem;">
                    <h4 style="display: inline-block; width:23rem;">保險公司帳戶餘額：</h4>
                    <h4 style="display: inline-block;" id="company_money"></h4>
                </div>
                <div style="font-size: 2rem;">
                    <h4 style="display: inline-block; width:23rem;">您的帳戶餘額：</h4>
                    <h4 style="display: inline-block;" id="user_money"></h4>
                </div>
                <div style="font-size: 2rem; ">
                    <h4 style="display: inline-block; width:23rem;">身故受益人帳戶餘額：</h4>
                    <h4 style="display: inline-block;" id="death_money"></h4>
                </div>
            </div>
            <div class="col-md-6">
                <h3>預期結果</h3>
                <div style="font-size: 2rem;">
                    <h4 style="display: inline-block; width:23rem;">保險公司帳戶餘額：</h4>
                    <h4 style="display: inline-block;" id="predict_company_money"></h4>
                </div>
                <div style="font-size: 2rem;">
                    <h4 style="display: inline-block; width:23rem;">您的帳戶餘額：</h4>
                    <h4 style="display: inline-block;" id="predict_user_money"></h4>
                </div>
                <div style="font-size: 2rem; ">
                    <h4 style="display: inline-block; width:23rem;">身故受益人帳戶餘額：</h4>
                    <h4 style="display: inline-block;" id="predict_death_money"></h4>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="container">
        <div class="row icon_box">
            <div class="drag icon" name="buy">
                <h4 id="buy">2017年10月</h4>
                <img src="imgs/buy.png"></img>
            </div>
            <div class="drag icon" name="dead">
                <h4 id="dead">2023年6月</h4>
                <img src="imgs/dead.png"></img>
            </div>
        </div>
    </div>
</section>

<section id="time">
    <div class="container">
        <div class="row dot_box inline">
            <div class="biggerdot"></div>
            <div class="dot"></div>
            <div class="biggerdot"></div>
            <div class="dot"></div>
            <div class="biggerdot"></div>
            <div class="dot"></div>
            <div class="biggerdot"></div>
            <div class="dot"></div>
            <div class="biggerdot"></div>
            <div class="dot"></div>
            <div class="biggerdot"></div>
            <div class="dot"></div>
            <div class="biggerdot"></div>
        </div>
    </div>
</section>

<section id="pay">
    <div class="container">
        <div class="row box">
        </div>
    </div>
</section>


{{#section 'script'}}
<script type="text/javascript" src="/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="js/jquery.timelinr-0.9.6.js"></script>
<script type="text/javascript" src="js/web3.min.js"></script>
<script type="text/javascript" src="js/testv3.js"></script> {{/section}}