{{#section 'css'}}
<link rel="stylesheet" href="css/trial.css"> {{/section}}
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
<section id="main">
    <table style="width:50%" id='myTable'>
        <tr>
            <th>年齡</th>
            <th>保費(以太幣)(保證)</th>
            <th>保費(以太幣)(不保證)</th>
            <th>年金</th>
        </tr>
    </table>
</section>

{{#section 'script'}}
<script src="js/trial.js"></script>
<script src="data/trialdata.js"></script>
{{/section}}