.container {
    width: 80%;
}

#template {
    margin-top: 1em;
}

#parameter .panel-body {
    height: 100vh;
}

#traditional-contract .panel-body {
    height: 100vh;
    overflow: auto;
}

.panel-heading {
    font-size: 2rem;
}

