.title {
    font-size: 2rem;
    text-align: center;
}

.auto,
.manual {
    height: 25rem;
    border-radius: 1rem;
    margin: 0.5rem;
}

.auto h3 {
    text-align: center;
}

.auto h4 {
    padding-left: 2rem;
    font-size: 20px;
}

.auto p {
    padding-left: 3rem;
    font-size: 18px;
}

.manual h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.manual h4 {
    padding-left: 2rem;
    font-size: 20px;
}

.manual p {
    padding-left: 3rem;
    font-size: 18px;
}

.blue {
    border: groove 11px #7678ED;
}

.yellow {
    border: groove 11px #FEFFA5;
}

.green {
    border: groove 11px #B4DC7F;
}