/*
 *body
*/

html,
body {
    font-family: 'Noto Sans TC', sans-serif;
    min-width: 1200px;
}


/*
 *header
*/

header {
    font-size: 2rem;
    background-color: #2d344b;
}

header ul {
    margin: 0;
}

header a,
header li {
    color: #fff;
    padding: 1.4rem 0;
    font-weight: bold;
}

/*
 *footer
*/

footer {
    background-color: #444444;
    color: #ADADAD;
    margin-top: 1em;
}

footer h5,
footer img {
    margin-top: 5em;
    font-weight: bold;
}

footer address {
    margin-top: 5em;
    margin-bottom: 5em;
    color: #5A5A5A;
}

footer ul {
    margin-bottom: 5em;
}