/*
 *product
*/

#product {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url("/imgs/bg.jpg");
}

#product h1 {
    font-size: 5vw;
}

#product hr {
    width: 40vw;
    color: white;
    
}

#product h2 {
    font-size: 5rem;
    margin-bottom: 15px;
}

#product p {
    font-size: 2rem;
}

/*
 *trial
*/
#trial dl {
    font-size: 2rem;
}

/*
 *rule
*/
#rule dl {
    font-size: 2rem;
}

/*
 *question
*/
#question dl {
    font-size: 2rem;
}
/*
 *notice
*/

#notice ul {
    font-size: 2rem;
    font-weight:bold;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed; 
    top:0;
    left:0;
    background: rgba(0,0,0,0.8);
    z-index:10;
    color:#fff;
    overflow:hidden;
}
.overobj{
    display: inline-block;
    width:40%;
    overflow:hidden;
    margin: 0 auto;
    position: relative;
    top: 25%;
    left: 30%;
}

.closebtn{
    float: right;
}
