/*
 *product
*/

#product {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #000 url("/imgs/bg/bg1.jpg") no-repeat;
    background-size: 100%;
}

#product h1 {
    font-size: 5vw;
}

#product h2 {
    font-size: 5rem;
    margin-bottom: 15px;
}

#product p {
    font-size: 2rem;
    color: 	rgb(83, 83, 121)
}

#product hr {
    width: 40vw;
    color: white;
}


/*
 *trial
*/

#trial dl {
    font-size: 2rem;
}


/*
 *rule
*/

#rule dl {
    font-size: 2rem;
}


/*
 *question
*/

#question dl {
    font-size: 2rem;
}


/*
 *notice
*/

#notice ul {
    font-size: 2rem;
}