.container {
    width: 80%;
}

#template {
    margin-top: 1em;
}

.panel-heading {
    font-size: 2rem;
}

#traditional-contract {
    height: 80vh;
    overflow: auto;
}
#smart-contract {
    height: 80vh;
    overflow: auto;
    white-space: pre;
}


