#statusBar {
    font-size: 2rem;
}

#a, #b {
    height: 40rem;
}

button {
    width: 15rem;
}
.panel-heading {
    font-size: 3rem;
}
.panel-body {
    font-size: 2rem;
}

#face {
    display: none;
}

#event_button {
    display: none;
}

#email, letter{
    margin-bottom: 1rem;
}