.container{
    width:80vw;
}
#state, #event {
    height: 40rem;
}

button {
    width: 10rem;
}

.panel-heading {
    font-size: 3rem;
}
.panel-body {
    font-size: 2rem;
}

#face {
    display: none;
}

#email, letter{
    margin-bottom: 1rem;
}