.container-fluid {
    width: 90vw;
}


/*
 *select
*/

select {
    width: 30rem;
}

button {
    width: 32%;
}

.panel-heading {
    font-size: 3rem;
}

.panel-body {
    height: 200px;
    font-size: 2rem;
}

#state_body dt {
    width: 16rem;
}

#face {
    display: none;
}


#datePicker {
    height: 100%;
    width: 65%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(62, 62, 62);
    padding: 0;
    margin: 5px;
}