#main #parameter {
    margin-top: 5rem;
}

#main button {
    margin-top: 1rem;
}

table {
    width:85%;
    
}
tr {
    height: 5rem;

}
th, td {
    padding-left: 1rem; 
    padding-right: 1rem; 
}