* {
    margin: 0;
    padding: 0;
}

a:hover,
a.selected {
    color: #ffcc00;
}

#timeline {
    overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	background: url('../imgs/dot.gif') left 45px repeat-x;
}

#dates {
    height: 60px;
    overflow: hidden;
}

#dates li {
    list-style: none;
    float: left;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background: url('../imgs/biggerdot.png') center bottom no-repeat;
}

#dates a {
    line-height: 38px;
    padding-bottom: 10px;
}

#dates .selected {
    font-size: 38px;
}

#issues {
	width: calc(90vw - 30px);
    text-align: center;
    overflow: hidden;
}

#issues li {
	width: calc(90vw - 30px);
	font-size: 2rem;
    list-style: none;
    float: left;
}

#issues li h1 {
    color: #ffcc00;
    font-size: 48px;
}

#issues li p {
    font-size: 14px;
    margin-right: 70px;
    font-weight: normal;
    line-height: 22px;
}